body { color:#000; background-color:#fff; min-height:1000px; } 
body:focus { outline:none; } 
header { margin-top:20px; } 
#skipLink, #skipTarget { display:block; margin:20px 0px; } 
.App { 
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; 
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.58;
    letter-spacing: -.003em;
} 

header { overflow:hidden; }
header h1 { width:53%; float:left; }

.App-logo {
  width:92px;
  float:left;
}

*:focus { outline:5px dotted blue; } 

#root { width:960px; margin:auto; } 


h1 { width:40%; } 
.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

h2 { width:40%; } 

.App-title {
  font-size: 2.5rem;
}



.App-intro {
  font-size: large;
}

[role="navigation"]  li { width:25%; display:inline-block; list-style-type:none;  } 
[role="navigation"] li a { background-color:yellow; padding:10px; text-decoration:none; color:#000; font-size:1.5rem; display:inline-block; width:200px; text-align:center;  } 


.offscreenText {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
padding: 0;
border: 0;
height: 1px; 
width: 1px; 
overflow: hidden;
white-space: nowrap;
}

