
#slidesContainer div.current {display:block;}
#slidesContainer div.notCurrent { width:0px; } 

#carousel {
  width: 100%;
  height: 600px;
  margin:auto;
}

#slidesContainer {
  width: 100%;
  height:500px;
  overflow:hidden;
  margin:auto;
  border:3px solid #000;
  padding-left:10%;
}

#slidesContainer div { 
  float:left;
  width:90%;
  overflow:hidden; 
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
} 


#controls { 
  width: 30%;
  margin:20px auto;
}

#controls > button { margin-right:20px; } 

.slide { 
  padding:20px; 
  width:500px;
  float:left;
} 


