


th {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
padding: 0;
border: 0;
height: 1px; 
width: 1px; 
overflow: hidden;
white-space: nowrap;
}




#root { width:33%; margin:auto; }

table { border-collapse: collapse; }
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  
  font-size: 114px;
  font-weight: bold;
  line-height: 34px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

/*
.square:focus {
  outline: none;
}
*/


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
}

.game-info {
  margin-left: 20px;
}

[data-active='false'] { background-color: red; }

[data-active='true'] { background-color: green; }



