

th { font-size: 1rem; }

#root { width:33%; margin:auto; }

table { border-collapse: collapse; }
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  
  font-size: 114px;
  font-weight: bold;
  line-height: 34px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

/*
.square:focus {
  outline: none;
}
*/


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

[data-active='false'] { background-color: red; }

[data-active='true'] { background-color: green; }



