
.navigation-menu [role="menubar"] { overflow:hidden; width:90%; height:50px; background-color:#ccc; } 
.navigation-menu [role="menubar"] button { width:20%; float:left; }
.navigation-menu [role="menubar"] button:first-of-type { margin-left:0; }
.navigation-menu [role="menubar"] button:last-of-type { margin-right:0; }
.navigation-menu [role="menubar"] button { width:20%; float:left; margin-left:20px; }
.navigation-menu #menusContainer { width:90%; overflow:hidden; }
.navigation-menu .individualMenu  { width:30%; float:left; }
.navigation-menu [role="menu"] div[role="menuitem"] { float:none; display:block; position:relative; } 
.navigation-menu [data-active='false'] { }
.navigation-menu [data-active='true'] {outline: 5px dotted #000; } 
.navigation-menu [role="menu"]  {
  display: block;
  width: 20%;
  float:left;
}

.navigation-menu div[role="menuitem"] div.submenu[role="menu"]  {
  display: block;
  width: 250%;
	position:absolute;
	left:70%; 
	top:1px;
	float:none;
}

.navigation-menu [role="menu"][data-aria-expanded="false"]  {
  opacity:0;  
} 


